<div class="grid__flex">
  <div class="header">
    <a href="index.html" class="logo">
      <img src="assets/ucb-logo.png" alt="company logo" class="logo__img" />
    </a>
  </div>
  <div class="main">
    <div class="card">
      <h3 class="card__title">Patient History</h3>
      <div class="input-group mt-md">
        <p class="text">
          Please provide any relevant medical history, do not use the patient’s
          name or any personally identifiable information (email, address, phone
          number).
        </p>
        <textarea
          cols="30"
          rows="10"
          class="textarea mt-xs"
          placeholder="Medical History"
        ></textarea>
      </div>
      <div class="input-group mt-lg">
        <p class="text">
          Is there any additional information you would like to share regarding
          the adverse event(s)? Please include any over the counter medication,
          vitamins, or supplements you are taking. Do not use the patient’s name
          or any personally identifiable information (email, address, phone
          number).
        </p>
        <textarea
          cols="30"
          rows="10"
          class="textarea mt-xs"
          placeholder="Additional information"
        ></textarea>
      </div>
      <div class="input-group mt-lg">
        <p class="text">Notes.</p>
        <textarea
          cols="30"
          rows="10"
          class="textarea mt-xs"
          placeholder="Summary"
        ></textarea>
      </div>

      <div class="input-group mt-xl">
        <label class="text" for="bladderDisease"
          >History of gall bladder disease</label
        >
        <div class="form-control mt-sm">
          <div class="radio-group">
            <input type="radio" name="gall-bladder-disease" />
            <label class="text">Yes</label>
          </div>
          <div class="radio-group">
            <input type="radio" name="gall-bladder-disease" />
            <label class="text">No</label>
          </div>
          <div class="radio-group">
            <input type="radio" name="gall-bladder-disease" />
            <label class="text">Unknown</label>
          </div>
        </div>
        <input
          type="text"
          class="text-input mt-xs"
          id="bladderDisease"
          placeholder="Notes"
        />
      </div>
      <div class="input-group mt-lg">
        <label class="text" for="bladderDisease"
          >History of Biliary cirrhosis</label
        >
        <div class="form-control mt-sm">
          <div class="radio-group">
            <input type="radio" name="biliary-cirrohsis" />
            <label class="text">Yes</label>
          </div>
          <div class="radio-group">
            <input type="radio" name="biliary-cirrohsis" />
            <label class="text">No</label>
          </div>
          <div class="radio-group">
            <input type="radio" name="biliary-cirrohsis" />
            <label class="text">Unknown</label>
          </div>
        </div>
        <input
          type="text"
          class="text-input mt-xs"
          id="bladderDisease"
          placeholder="Notes"
        />
      </div>
      <div class="input-group mt-lg">
        <label class="text" for="allergies">Allergies</label>
        <div class="form-control mt-sm">
          <div class="radio-group">
            <input type="radio" name="allergies" />
            <label class="text">Yes</label>
          </div>
          <div class="radio-group">
            <input type="radio" name="allergies" />
            <label class="text">No</label>
          </div>
          <div class="radio-group">
            <input type="radio" name="allergies" />
            <label class="text">Unknown</label>
          </div>
        </div>
        <input
          type="text"
          class="text-input mt-xs"
          id="allergies"
          placeholder="Notes"
        />
      </div>
      <div class="input-group mt-lg">
        <label class="text" for="recentTravel">Recent travel</label>
        <div class="form-control mt-sm">
          <div class="radio-group">
            <input type="radio" name="recent-travel" />
            <label class="text">Yes</label>
          </div>
          <div class="radio-group">
            <input type="radio" name="recent-travel" />
            <label class="text">No</label>
          </div>
          <div class="radio-group">
            <input type="radio" name="recent-travel" />
            <label class="text">Unknown</label>
          </div>
        </div>
        <input
          type="text"
          class="text-input mt-xs"
          id="recentTravel"
          placeholder="Notes"
        />
      </div>
      <div class="input-group mt-lg">
        <p class="text text--bold">
          Can you please specify the clinical symptoms you are experiencing:
        </p>
        <div class="form-control form-control--md">
          <div class="checkbox-group">
            <input type="checkbox" id="fatigue" />
            <label for="fatigue" class="text">Fatigue</label>
          </div>
          <div class="checkbox-group">
            <input type="checkbox" id="vomiting" />
            <label for="vomiting" class="text">Vomiting</label>
          </div>
        </div>
        <div class="form-control form-control--md">
          <div class="checkbox-group">
            <input type="checkbox" id="decreasedAppetite" />
            <label for="decreasedAppetite" class="text"
              >Decreased appetite</label
            >
          </div>
          <div class="checkbox-group">
            <input type="checkbox" id="Jaundice" />
            <label for="Jaundice" class="text">Jaundice</label>
          </div>
        </div>
        <div class="form-control form-control--md">
          <div class="checkbox-group">
            <input type="checkbox" id="Nausea" />
            <label for="Nausea" class="text">Nausea</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
